.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.5s;
}

.switchers {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 15px;
}

.links {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.linkWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.linkText {
  transition: width 0.5s;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collpased);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }

  .linkText {
    width: 0;
    opacity: 0;
  }
}